@font-face {
    font-family: 'Kanit-SemiBold';
    src:url('Kanit-SemiBold.ttf.woff') format('woff'),
        url('Kanit-SemiBold.ttf.svg#Kanit-SemiBold') format('svg'),
        url('Kanit-SemiBold.ttf.eot'),
        url('Kanit-SemiBold.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}

.styleLogo{
    font-family: Kanit-SemiBold, sans-serif;
    font-weight:750;
    text-shadow: 3px 1px #2EA5C3,-2px -2px #D832D0;
}

h1{
    font-family: Kanit-SemiBold, sans-serif;
}

/* Couleurs personnalisées */
.text-primary {
    color: #2EA5C3 !important;
}

.btn-primary {
    background-color: #800080; /* Fond mauve */
    border-color: #2EA5C3; /* Bordure mauve clair */
    color: white; /* Texte blanc */
    font-weight: bold; /* Texte en gras */
    padding: 10px 20px; /* Espacement interne */
    border-radius: 5px; /* Coins légèrement arrondis */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Ombre pour l'effet 3D */
    transition: all 0.3s ease-in-out; /* Transition fluide */
}

.btn-primary:hover {
    background-color: black;
    border-color: #D832D0;
    color: #2EA5C3;
}

.btn-primaryy {
    background-color: #2EA5C3; /* Fond mauve */
    border-color: #2EA5C3; /* Bordure mauve clair */
    color: white
}

.btn-primaryy:hover {
    background-color: black;
    border-color: #D832D0;
    color: #2EA5C3;
}

body{
    background-color: black;
}

.btn-outline-primary {
    border-color: #D832D0;
    color: #2EA5C3;
}

.btn-outline-primary:hover {
    background-color: #2EA5C3;
    color: #fff;
}

/* État actif : Couleur de fond mauve et texte blanc */
.btn-primary:active,
.dropdown-menu .dropdown-item:active,
.btn-primary.active,
.btn-primaryy:active, 
.btn-primaryy.active,
.btn-outline-primary:active, 
.btn-outline-primary.active {
    background-color: #800080 !important; /* Fond mauve */
    color: white !important; /* Texte blanc */
    border-color: #800080 !important; /* Bordure mauve */
}




/* Sections */
section {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

/* Navbar verticale */
.navbar-vertical {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 200px;
    background-color: #101010;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
    z-index: 1000;
    transition: transform 0.3s ease-in-out;
}

.navbar-vertical .dropdown {
    text-align: center; /* Centre le bouton dans la barre */
}

.g{
    background: linear-gradient(90deg, #D832D0, #2EA5C3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.dropdown-menu .dropdown-item:hover{
    background-color: #2EA5C3;
    color: white;
}

.dropdown-menu {
    background-color: #800080; /* Couleur de fond pour le menu */
    color: white; /* Couleur du texte */
}

.dropdown-menu a {
    color: white; /* Couleur des liens */
    transition: background-color 0.3s ease;
}

.dropdown-menu a:hover {
    background-color: #9932CC; /* Couleur au survol */
}

.navbar-vertical .navbar-brand {
    margin-bottom: 2rem;
}

.navbar-vertical .nav-link {
    color: #ffffff;
    margin: 0.5rem 0;
    text-align: start;
}

.navbar-vertical .nav-link:hover {
    color: #D832D0;
}

.navbar-vertical .nav-link:active{
    color: red;
}

.projects-container {
    position: relative;
    display: block;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    padding-left: 20px;
    padding-right: 20px;
    height: 97vh;
    max-height: 97vh;
    border: 2px solid transparent;
    border-image: linear-gradient(45deg, #D832D0, #2EA5C3) 3;
    overflow-y:hidden;
    background-color: #101010;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    animation: borderAnimation 3s infinite;
}

.projectScroll{
    height: 77vh;
    max-height: 77vh;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: black;
    padding-top: 10px;
}

.projects-container h2 {
    margin-bottom: 20px; /* Espace entre le titre et les cartes */
    text-align: center; /* Centre le texte */
    color: #ffffff; /* Couleur du texte */
    border-bottom: 2px solid #ffffff; /* Ligne décorative */
    padding-bottom: 3px; /* Espace entre le texte et la ligne */
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0;
}

.icon-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px; /* Taille du cercle */
    height: 100px; /* Taille du cercle */
    border-radius: 50%; /* Rend le conteneur circulaire */
    background: linear-gradient(45deg, #D832D0, #2EA5C3); /* Couleur de fond avec un dégradé */
    color: white; /* Couleur des icônes */
    margin: 0 auto 10px auto; /* Centre l'icône et ajoute un espace en bas */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Optionnel : ajoute une ombre */
}


.modal-header button{
    background-color: #2EA5C3;
}

.modal-content{
    text-align: center;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #D832D0;
    width: 80%;
    max-width: 600px;
    max-height: 600px;
    border-radius: 10px;
    overflow: hidden;
}

.lead{
    text-align: justify;
}

.justifier{
    text-align: justify;
}

.no-scroll {
    overflow: hidden;
    height: 100%; /* Évite les décalages liés au scroll */
}

.imdModal{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}

.imdModal img {
    width: 100%;
    border: 2px solid transparent;
    justify-content: center;
    border-image: linear-gradient(45deg, #D832D0, #2EA5C3) 3;
    transition: all 0.3s ease-in-out;
    animation: borderAnimation 3s infinite;
}

.photo-frame {
    width: 90%;
    height: 90%;
    margin: 0 auto;
}


.photo-border {
    width: 100%;
    height: 100%;
    border-radius: 50%; /* Applique le border-radius */
    border: 5px solid transparent;
    background-image: linear-gradient(45deg, #D832D0, #2EA5C3); /* Dégradé sur le parent */
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
}

.photo-border img {
    width: 100%;
    height: 100%;
    border-radius: 50%; /* Applique aussi le border-radius à l'image */
    object-fit: cover;
}


.projects-container::-webkit-scrollbar-track {
    background: #101010;
}

.projects-container::-webkit-scrollbar-thumb {
    background-color: #555;
    border-radius: 5px;
}

.projects-container::-webkit-scrollbar {
    width: 10px;
}

.projectScroll::-webkit-scrollbar-track {
    background: #101010;
}

.projectScroll::-webkit-scrollbar-thumb {
    background-color: #555;
    border-radius: 5px;
}

.projectScroll::-webkit-scrollbar {
    width: 10px;
}


/* Cache la barre par défaut sur petits écrans */
.navbar-vertical.hide {
    transform: translateX(-100%);
}

/* Bouton pour petits écrans */
.toggle-btn {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1100;
}

/* Contenu principal */
.content {
    margin-left: 200px; /* Ajuste l'espace pour la barre */
    transition: margin-left 0.3s ease-in-out;
}

/* Ajuste le contenu lorsque la barre est masquée */
.content.expanded {
    margin-left: 0;
}

/* Responsivité */
@media (max-width: 768px) {
    .navbar-vertical {
        transform: translateX(-100%);
    }

    .navbar-vertical.show {
        transform: translateX(0);
    }

    .content {
        margin-left: 0;
    }

    .photo-border {
        width: 50%;
        height: 50%;
        border-radius: 50%; /* Applique le border-radius */
        border: 5px solid transparent;
        background-image: linear-gradient(45deg, #D832D0, #2EA5C3); /* Dégradé sur le parent */
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.3s ease-in-out;
    }

    html::-webkit-scrollbar-track {
        background: #101010;
    }
    
    html::-webkit-scrollbar-thumb {
        background-color: #555;
        border-radius: 5px;
    }
    
    html::-webkit-scrollbar {
        width: auto;
    }


}

@media (max-width: 768px) {
    .col-md-6 {
        width: 50% !important; /* Force les colonnes à prendre 50% de la largeur */
    }
}

html::-webkit-scrollbar {
    display: none;
}

html, body{
    overflow: hidden;
}

.co:-webkit-scrollbar-track {
    background: #101010;
}

.co::-webkit-scrollbar-thumb {
    background-color: #555;
    border-radius: 5px;
}

.co::-webkit-scrollbar {
    width: auto;
}

.card {
    width: 250px;
    max-width: 250px;
    height: 300px;
    max-height: 330px;
    border-radius: 10px;
    overflow: hidden;
    display: block;
    margin: 0 auto;
    margin-bottom: 50px;
    box-shadow: 0 0px 15px #2EA5C3;
}

.card img {
    height: 140px;
    max-height: 140px;
    display: block;
    margin: 0 auto;
    margin-top: 5%;
    border: 2px solid transparent;
    border-image: linear-gradient(45deg, #D832D0, #2EA5C3) 3;
    transition: all 0.3s ease-in-out;
    animation: borderAnimation 3s infinite;
}

.cardd {
    width: 300px;
    border-radius: 10px;
    overflow: hidden;
    display: block;
    margin: 0 auto;
    padding-bottom: 20px;
    box-shadow: 0 0px 15px #2EA5C3;
}

.cardd .card-title{
    color: white;
    padding-top: 3%;
}

.cardd img {
    height: 180px;
    max-height: 180px;
    display: block;
    margin: 0 auto;
    margin-top: 5%;
    border: 2px solid transparent;
    border-image: linear-gradient(45deg, #D832D0, #2EA5C3) 3;
    transition: all 0.3s ease-in-out;
    animation: borderAnimation 3s infinite;
}

.imageTlf{
    max-width: 40%;
    padding: 0;
    border: 2px solid transparent;
    border-image: linear-gradient(45deg, #D832D0, #2EA5C3) 3;
    transition: all 0.3s ease-in-out;
    animation: borderAnimation 3s infinite;
}

.cardHover:hover {
    transform: scale(1.05);
}

.project-card {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.modal-body a{
    text-decoration: none;
    color: #2EA5C3;
}

.modal-body{
    height: 62vh;
    max-height: 62vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.modal-body::-webkit-scrollbar-track {
    background: #101010;
}

.modal-body::-webkit-scrollbar-thumb {
    background-color: #555;
    border-radius: 5px;
}

.modal-body::-webkit-scrollbar {
    width: auto;
}

.modal-body a:hover{
    text-decoration: none;
    color: #2EA5C3;
}

.modal-body a:active{
    text-decoration: none;
    color: red;
}

.card-body a{
    text-decoration: none;
    color: #2EA5C3;
}

.card-body h5{
    color: #2EA5C3;
}

.card-body a:hover{
    text-decoration: none;
    color: #D832D0;
}

.card-body a:active{
    text-decoration: none;
    color: red;
}

.nav-link i{
    background: linear-gradient(90deg, #D832D0, #2EA5C3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes borderAnimation {
    0% {
        border-image-source: linear-gradient(45deg, #D832D0, #2EA5C3);
    }
    50% {
        border-image-source: linear-gradient(45deg, #2EA5C3, #D832D0);
    }
    100% {
        border-image-source: linear-gradient(45deg, #D832D0, #2EA5C3);
    }
}